*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Chewy", system-ui;
    background-color: rgb(226, 219, 229);
}

header{
    text-align: center;
    padding: 1.5rem;
}

h1{
    color: rgb(227, 204, 236);
    text-shadow: rgb(58, 32, 89) 2px 2px 14px;
}

main{
    margin: 2rem;
    padding: 1rem;
    background-color: beige;
    border-radius: 2rem;
}