*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Chewy", system-ui;
    background-color: rgb(226, 219, 229);
}

header{
    text-align: center;
    padding: 1.5rem;
}

h1{
    color: rgb(227, 204, 236);
    text-shadow: rgb(58, 32, 89) 2px 2px 14px;
}

button#generate{
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
    background-color: rgb(227, 204, 236);
    color: rgb(61, 60, 60);
    border: 1px solid transparent;
    border-radius: 2rem;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    transition: all .4s ease;
    cursor: pointer;
}

button#generate:hover{
    background-color: rgb(223, 181, 239);
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.646);
    transform: scale(1.05);
}

button#generate:active{
    background-color: rgb(195, 135, 219);
}

main{
    margin: 2rem;
    padding: 1rem;
    background-color: beige;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.singleColor{
    width: 6rem;
    height: 8rem;
    border-radius: 1rem;
    box-shadow: rgb(80, 80, 80) 0 2px 14px;
    font-family: sans-serif;
    margin-bottom: 1rem;
    transition: all .3s ease;
}

div.singleColor:hover{
    transform: scale(1.02);
    border: 2px solid white;
}

p.color-code{
    font-family: "Delius Unicase", cursive;
    font-size: .8rem;
    color: rgb(63, 62, 62);
    border: 1px solid grey;
    border-radius: 2rem;
    padding: .4rem .8rem;
    box-shadow: 4px 7px 5px -5px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all .4s ease;
}

p.color-code:hover{
    transform: scale(1.02);
}